# Big Data Modelling and Management 2022

Group number: 

Students (name : student number):


1.


2.

3.

4.

5.

## ðŸšš BDMM Second Homework Assignment ðŸšš 

_The Wide World Importers (WWI) is a wholesales novelty goods importer and distributor operating from the San Francisco bay area. In this assignment we will be working with their database._ 
You can get more information and details about the WWI database in the following link: https://docs.microsoft.com/en-us/sql/samples/wide-world-importers-what-is?view=sql-server-ver15

The focus of the second assignment is modelling. We will use the World Wide Importers database and convert it to a document-based database. To that end, we will be leveraging concepts like data denormalization, indices, and mongodb design patterns. 

More information on the extended datamodel to be found here: </br>  
https://docs.microsoft.com/en-us/sql/samples/wide-world-importers-oltp-database-catalog?view=sql-server-ver15

## Problem Description

Your team has just arrived at WWI (a leading company in logistics). Welcome!   <br>
Even though business is thriving, the IT department is going through a bad time.   <br>
Digitalization was never a priority for the company and now the company operational and analytical requirements are starting to grow beyond the capabilities of their existing data architecture.   <br>

WWI data are spread accross different systems, but we've already managed to pull them all into a mongo dump file. This data file is an exact dump of the SQL data so includes all the same structure, the SQL tables become collections and the rows become documents. This means all the original SQL keys are included in the data.<br>
Currently, the costs to develop the necessary queries to collect data to answer questions asked by the different departments are too high. <br>

Management concluded it is the right time to revise and revamp the data architecture, in order to speed up operations. 

In that context, your team was tasked with merging all the company data into a single and coherent Mongo database. <br>
It is expected that, with your solution, WWI will have a better understanding of their business and that the different departments will be able to obtain efficiently the answers they need.

The WWI team shared with you an ERD of their current datamodel:<br>
![datamodel](./WWI.png)

**Note** You can open the file WWI.png that is in the same directory as this notebook to see the above image in more detail and zoom in as you need.

Addtionally, the WWI team asked you the deliver the following outputs in **4 weeks**:
- Understand and model the database in MongoDB.
- Setup the database so that it is performs well for the queries they have provided. You should include reasoning in comments for the decisions you make on modelling the database.
- Answer the questions (queries) on the data provided.  
- Submit the results by following the instructions.  

With these deliveries, you will have created a prototype and allows the management to decide whether MongoDB is a good solution that meets their requirements.

### Design Requirements

Note that WWI has the following query requirements for the database.

1. The web team needs to know:  
    1. Which state province do we have the most suppliers in?  
    2. How many people have three or more `OtherLanguage`? 
    3. Top 10 most common `OtherLanguage` for people records. 
    4. How many customer records are valid after `November 2015`? 
    5. What percentage of people records don't have the UserPreferences field? 

2. The warehouse group needs to know:  
    1. What is the average difference in days between OrderDate and ExpectedDeliveryDate for orders sold by (`SalespersonPersonID`) person with the name `Jack Potter`?
    2. Which items get ordered the most in bulk (largest average quantity ordered)?  
    3. Which two items get ordered together the most?
    4. For each customer category which 3 items have the ordered the most?
    5. What is the current stock of each stockgroup?

3. The CFO needs to know:  
    1. What is the monthly total order count for each month?  
    2. How many orders are there from the customer `Tailspin Toys (Head Office)`?
    3. What are the average monthly sales prices of all goods sold? 
    4. In each state province what is the average customer credit limit?   
    5. What are the yearly expenditures with each supplier (per supplier name)?  

4. Partnerships needs to know:  
    1. What is the most common payment type?  
    2. What percentage of people have their `Title` as `Team Member`?
    3. Which supplier of the category `Novelty Goods Supplier` has the most transactions?  
    4. What is the highest `CommissionRate` that a person has?

5. The marketing team needs to know:  
    1. What is the name of the sales person with the largest sum of invoice values in 2013 (person whose customers paid the most money)?
    2. Who are the most common `PickedByPersonID` person names for orders done by customer `Adriana Pena`?
    3. How many people have in their name the string `Sara`?
    5. What are the top 10 most Common Names (Primary or Surnames) of people?

Transform the mongo dump file provided with this notebook and model a database following mongodb's best practices. You should adjust the data model to best fit the use cases provided above. Think about collections, embedding, linking, indexing, and the patterns learned in class. Provide justifications for each decision you make. What, if any, are the trade-off's or disadvantages of your approach.

Use MongoDB queries to answer the questions on your transformed database.

### Deliverables

1. Notebook with all DB creation operations and CRUD operations to create the data model. **Important** you should include in comments justification for your decisions on modelling the data.;
2. Second notebook with all required queries and answers for the questions, **Important** please indicate with comments the steps in the data model you took to optimise each query;

# Additional Information

## Groups  

Students should form groups of at least 4 and at most 5. <br>

## Submission  Deadline

The submission includes two notebooks with outputs (cells must be run). 
Please make sure to indicate:
1. group number,
2. group members with student names and numbers,
3. the name of the database that you created. <br>

Upload the notebook on moodle before **23:59 on June 22nd**

## Evaluation   

The second homework assignment counts 40% towards your final mark of the curricular unit. <br>
The assignment will be scored from 0 to 20. <br>

Each group submission will be evaluated on three components:
1. correctness of results;
2. simplicity and performance characteristics of the solution;
3. justification of decisions.

50% -  Database design  
50% -  Query results including performance

Please note that all code delivered in this assignment will go through plagiarism automated checks. <br>
Groups with high similarity levels in their code will undergo investigation.

In [1]:
from pymongo import MongoClient
from bson.objectid import ObjectId
from pprint import pprint

In [2]:
host="localhost"
port="27017"
user="Group_GLMRT"
password="1024"
protocol="mongodb"
client = MongoClient(f"{protocol}://{user}:{password}@{host}:{port}")
db = client.WideWorldImporters

# 1. The web team needs:
## A- Which state province do we have the most suppliers in?

In [3]:
query_1 = {'$project': {'_id' : False,        
                'SupplierID' : '$SupplierID',
                'City' : '$Cities_list.CityName',
                'StateProvince' : '$Cities_list.StateProvince_list.StateProvinceName',}}

query_2 = {
    '$group':
        {'_id' : '$StateProvince', # will be groupped by this field
         'number_of_suppliers' : {'$sum' : 1}}} # type of accumulator

query_3 = {
    '$sort':
        {'number_of_suppliers' : -1}} # -1 desc, 1 asc.

query_4 = {'$limit': 1}

pipeline = [query_1,query_2,query_3,query_4]
    
result = list(db.suppliers_cities_embed.aggregate(pipeline))

result

[{'_id': [['California']], 'number_of_suppliers': 3}]

## B- How many people have three or more OtherLanguage?

In [4]:
query_1 = {
    '$match' : {
        'OtherLanguages': {'$ne': None}
    }    
}

query_2 = { # size of other languages array
    '$project' : {
        '_id' : False,
        'OtherLanguages' : 1,
    }
}

query_3= {
    '$match' : {
        'OtherLanguages': {'$ne': '[]'}
    }    
}

query_4 = {
        '$project' : {
        '_id' : False,
        'OtherLanguages' : 1,
        'OtherLanguages' : {'$trim' : {'input':'$OtherLanguages','chars':']['}}
    }
}

query_5 = { # size of other languages array
    '$project' : {
        'OtherLanguages' : 1,
        'OtherLanguages' : {'$split':['$OtherLanguages',',']}
    }
}

query_6 = { # size of other languages array
    '$project' : {
        '_id' : False,
        'OtherLanguages' : 1,
        'number_languages' : {'$size' : '$OtherLanguages'}
    }
}

query_7 = {
    '$match' : {
        'OtherLanguages': {'$exists': True},
        'number_languages' : {'$gte' : 3}
    }    
}

query_8 = { # More than 3
    '$count' : 'Number of people with 3 or more other languages'
}

pipeline = [query_1,query_2,query_3,query_4,query_5,query_6,query_7,query_8]

r = db.people.aggregate(pipeline)

result = list(r)

result

[{'Number of people with 3 or more other languages': 4}]

## C- Top 10 most common OtherLanguage for people records.

In [5]:
query_1 = {
    '$match' : {
        'OtherLanguages': {'$ne': None}
    }    
}

query_2 = { # size of other languages array
    '$project' : {
        '_id' : False,
        'OtherLanguages' : 1,
    }
}

query_3= {
    '$match' : {
        'OtherLanguages': {'$ne': '[]'}
    }    
}

query_4 = {
        '$project' : {
        '_id' : False,
        'OtherLanguages' : 1,
        'OtherLanguages' : {'$trim' : {'input':'$OtherLanguages','chars':']['}}
    }
}

query_5 = { # size of other languages array
    '$project' : {
        'OtherLanguages' : 1,
        'OtherLanguages' : {'$split':['$OtherLanguages',',']}
    }
}

query_6 = {
    '$unwind' : '$OtherLanguages'
    }

query_7 = {
    '$group': {
        '_id': '$OtherLanguages', 
        'count' : {'$sum' : 1}            
    }
}

query_8 = {
    '$sort': {
        'count': -1
    }
}


query_9 = {
    '$limit': 10
}


pipeline = [query_1,query_2,query_3,query_4,query_5,query_6,query_7,query_8,query_9]

r = db.people.aggregate(pipeline)

result = list(r)

result

[{'_id': '"Dutch"', 'count': 3},
 {'_id': '"Finnish"', 'count': 3},
 {'_id': '"Greek"', 'count': 3},
 {'_id': '"Lithuanian"', 'count': 2},
 {'_id': '"Croatian"', 'count': 2},
 {'_id': '"Polish"', 'count': 2},
 {'_id': '"Romanian"', 'count': 2},
 {'_id': '"Arabic"', 'count': 2},
 {'_id': '"Slovak"', 'count': 2},
 {'_id': '"Japanese"', 'count': 1}]

## D- How many customer records are valid after November 2015?

In [6]:
import datetime
len(list(db.customers.find({'ValidTo':{'$gt':datetime.datetime(2015,11,30,23,59,59)}}, {'ValidTo':1, '_id':0})))

663

## E- What percentage of people records don't have the UserPreferences field?

In [7]:
NoneUserPreferences = len(list(db.people.find( { 'UserPreferences' : { '$ne': None } } )))
NoExists = len(list(db.people.find({"UserPreferences": {"$exists": False}})))
TotalNoneUserPreferences = len(list(db.people.find()))
Answer = (NoneUserPreferences + NoExists) / TotalNoneUserPreferences
print ("{0:.0%}".format(Answer))

16%

# 2. The warehouse group needs to know:

## A- What is the average difference in days between OrderDate and ExpectedDeliveryDate for orders sold by (`SalespersonPersonID`) person with the name `Jack Potter`?

In [8]:
query_1 = {
    "$lookup":
    {
       'from': 'people',
       'localField': 'SalespersonPersonID',
       'foreignField': 'PersonID',
       'as': 'PersonInfo'
     }
}

query_2 ={
    '$match': {
        'PersonInfo.FullName' : {'$eq' : 'Jack Potter'}
    }
}

query_3 = {
    '$project' : {
        '_id' : False,
        'SalespersonPersonID' : 1,
        'PersonInfo.FullName' : 1,
        'days_in_between' : { '$subtract': [ '$ExpectedDeliveryDate', '$OrderDate' ] },
    }
}


query_4 = {
    '$group': {
        '_id': {'FullName' : '$PersonInfo.FullName'}, 
        'average_days' : {'$avg' : '$days_in_between'}            
    }
}

query_5 = {
    '$project' : {
        '_id' : False,
        'Average Days between Expected Delivery Date and Order Date is' : {'$round' : [{'$divide' : ['$average_days', 7387]}, 2]}
    }
}

pipeline = [query_1,query_2,query_3,query_4,query_5]


r=db.orders.aggregate(pipeline)

result = list(r)

result

[{'Average Days between Expected Delivery Date and Order Date is': 16948.2}]

## B- Which items get ordered the most in bulk (largest average quantity ordered)?

In [9]:
query_1 = {
    '$project': {
        '_id' : 0,    
        'Description':1,
        'Quantity' : 1
    }
}

query_2 = {
    '$group':{
        '_id' : '$Description', # will be groupped by this field
        'average_quantity' : {'$avg' : '$Quantity'},
        'total_quantity': { '$sum': '$Quantity' }
    }
} 

query_3 = {
    '$project':{
        '_id':0,
        'items_name':'$_id',
        'average_quantity':1,
        'total_quantity':1       
    }
}

query_4 = {'$sort':{'average_quantity' : -1}} # -1 desc, 1 asc.

query_5 = {'$limit': 3}

pipeline = [query_1,query_2,query_3,query_4,query_5]
    
result = list(db.orderlines.aggregate(pipeline))

result

[{'average_quantity': 199.35,
  'total_quantity': 207324,
  'items_name': 'Black and orange fragile despatch tape 48mmx75m'},
 {'average_quantity': 198.23950870010236,
  'total_quantity': 193680,
  'items_name': 'Black and orange fragile despatch tape 48mmx100m'},
 {'average_quantity': 145.26190476190476,
  'total_quantity': 158626,
  'items_name': 'Clear packaging tape 48mmx75m'}]

## C- Which two items get ordered together the most?

In [33]:
db.orderlines.create_index(
    [('OrderID', 1)],
    name='OrderID', 
)

'OrderID'

In [34]:
db.orderlines.create_index(
    [('Description', 1)],
    name='Description', 
)

'Description'

In [37]:
query_1 =     {
        '$lookup': {
           "from": "orderlines",
           "localField": "OrderID",
           "foreignField": "OrderID",
           "as": "joint_orders"
        }
}

query_2 = {
    '$unwind': '$joint_orders'
}

query_3 = {
    '$unwind': '$joint_orders.Description'
}
    
query_4 = {
    '$project':{
        '_id':False,
        'order_items1':'$Description',
        'order_items2':'$joint_orders.Description',
        'order_together': {"$eq":["$Description","$joint_orders.Description"]}
    }
}

query_5 = {
    '$match':{"order_together": False}}

query_6 = {
    '$group':{
        '_id': {'order_items1':'$order_items1','order_items2':'$order_items2'},
        'count': { '$sum': 1 }
    }
}

query_7 = {'$sort':{'count':-1}}

query_8 = {'$limit': 5}

pipeline = [query_1, query_2, query_3, query_4, query_5, query_6, query_7, query_8]

r = db.orderlines.aggregate(pipeline)

result = list(r)

result

[{'_id': {'order_items1': 'Dinosaur battery-powered slippers (Green) S',
   'order_items2': 'Animal with big feet slippers (Brown) XL'},
  'count': 30},
 {'_id': {'order_items1': 'Air cushion film 200mmx200mm 325m',
   'order_items2': 'Developer joke mug - fun was unexpected at this time (Black)'},
  'count': 30},
 {'_id': {'order_items1': 'Animal with big feet slippers (Brown) XL',
   'order_items2': 'Dinosaur battery-powered slippers (Green) S'},
  'count': 30},
 {'_id': {'order_items1': 'Developer joke mug - fun was unexpected at this time (Black)',
   'order_items2': 'Air cushion film 200mmx200mm 325m'},
  'count': 30},
 {'_id': {'order_items1': 'Developer joke mug - (hip, hip, array) (White)',
   'order_items2': 'Black and orange glass with care despatch tape  48mmx100m'},
  'count': 29}]

## D- For each customer category which 3 items have the ordered the most?

In [12]:
collection = db.orderlines_orders_customers_CustomerCategory_embed

query_1 = {
    '$unwind' : '$Customer_list'
}

query_2 = {
    '$unwind' : '$orders_list'
}


query_3 = {
    '$project':{
        'Description':1,
        'Quantity':1,
        'CustomerCategoryName':'$Customer_list.CustomerCategory_list.CustomerCategoryName'
    }
}

query_4 = {
    '$unwind' : '$CustomerCategoryName'
}

query_5 = {
    '$group':{'_id' : {'CustomerCategoryName':'$CustomerCategoryName','Description':'$Description'},
              'Quantity': { '$sum': '$Quantity'} 
        
    }
}

query_6 = {
    '$project':{
        '_id':0,
        'CustomerCategoryName':'$_id.CustomerCategoryName',
        'Description':'$_id.Description',
        'Quantity':1
    }
}

query_ = {
    '$group':{ 
        '_id': "$CustomerCategoryName", 
        'Description':{
            '$topN':{
                'output': [ "$Description","$Quantity" ],
                'sortBy': { "Quantity": -1 },
                'n': 3
            }
        }
    }
}


query_7 = { '$sort': { 'CustomerCategoryName': 1, 'Quantity': -1 } }

query_8 = {
    '$group': {
        '_id': '$CustomerCategoryName',
        'items': { '$push': '$Description' },
    }
}

query_9 = {
    '$project': {
        '_id':0,
        'CustomerCategory':'$_id',
        'top_three_items': {
            '$slice': ['$items', 3]
        }
    }
}


pipeline = [query_1,query_2,query_3,query_4,query_5,query_6,query_7,query_8,query_9]

r = collection.aggregate(pipeline)

result = list(r)

result

[{'CustomerCategory': 'Supermarket',
  'top_three_items': ['Black and orange fragile despatch tape 48mmx75m',
   'Clear packaging tape 48mmx75m',
   'Black and orange fragile despatch tape 48mmx100m']},
 {'CustomerCategory': 'Gift Store',
  'top_three_items': ['Black and orange fragile despatch tape 48mmx75m',
   'Black and orange fragile despatch tape 48mmx100m',
   'Express post box 5kg (White) 350x280x130mm']},
 {'CustomerCategory': 'Computer Store',
  'top_three_items': ['Shipping carton (Brown) 356x356x279mm',
   'Black and orange fragile despatch tape 48mmx75m',
   'Black and yellow heavy despatch tape 48mmx100m']},
 {'CustomerCategory': 'Corporate',
  'top_three_items': ['Black and orange fragile despatch tape 48mmx75m',
   'Red and white urgent despatch tape 48mmx75m',
   'Shipping carton (Brown) 305x305x305mm']},
 {'CustomerCategory': 'Novelty Shop',
  'top_three_items': ['Black and orange fragile despatch tape 48mmx75m',
   'Black and orange fragile despatch tape 48mmx100m',
   'Clear packaging tape 48mmx75m']}]

## E- What is the current stock of each stockgroup?

In [13]:
query_1 = {'$project': {'_id' : False,        
                'Quantity' : 1,
                'StockGroupName' : '$StockGroupID_list.StockGroupName'}}

query_2 = {
    '$group':
        {'_id' : '$StockGroupName', # will be groupped by this field
         'Quantity' : {'$sum' : '$Quantity'}}}# type of accumulator

query_3 = {
    '$sort':
        {'Quantity' : -1}} # -1 desc, 1 asc.


pipeline = [query_1,query_2,query_3]
    
result = list(db.stockitemstransactions_stockitemsstockgroups_stockgroups_embed.aggregate(pipeline))

result

[{'_id': ['Clothing', 'T-Shirts', 'Computing Novelties'],
  'Quantity': Decimal128('89339225.000')},
 {'_id': ['Packaging Materials'], 'Quantity': Decimal128('42788674.000')},
 {'_id': ['Toys'], 'Quantity': Decimal128('-17138.000')},
 {'_id': ['Novelty Items', 'Computing Novelties'],
  'Quantity': Decimal128('-56010.000')},
 {'_id': ['Novelty Items', 'Computing Novelties', 'USB Novelties'],
  'Quantity': Decimal128('-79483.000')},
 {'_id': ['Clothing'], 'Quantity': Decimal128('-91321.000')},
 {'_id': ['Novelty Items', 'Toys'], 'Quantity': Decimal128('-102909.000')},
 {'_id': ['Novelty Items'], 'Quantity': Decimal128('-122280.000')},
 {'_id': ['Novelty Items', 'Mugs', 'Computing Novelties'],
  'Quantity': Decimal128('-242577.000')},
 {'_id': ['Clothing', 'Furry Footwear'],
  'Quantity': Decimal128('-394460.000')},
 {'_id': ['Novelty Items', 'Clothing'], 'Quantity': Decimal128('-554041.000')}]

# 3. The CFO needs to know:

## A- What is the monthly total order count for each month?

In [14]:
query_1 =  {'$project' : { 
          'month' : { '$month' : "$OrderDate"}, 
          'year' : { '$year' :  "$OrderDate"},
          'count' : { '$sum': 1 }
      }}
query_2 = {
    
    '$group': {
            '_id' : {'month' : "$month", 'year' :'$year' },
            'count': { '$sum': '$count'} }}

query_3 = {'$sort': {'_id.year':1,'_id.month':1}}

pipeline = [query_1,query_2, query_3 ]


r = db.orders.aggregate(pipeline)

result = list(r)

result

[{'_id': {'month': 1, 'year': 2013}, 'count': 1674},
 {'_id': {'month': 2, 'year': 2013}, 'count': 1139},
 {'_id': {'month': 3, 'year': 2013}, 'count': 1683},
 {'_id': {'month': 4, 'year': 2013}, 'count': 1696},
 {'_id': {'month': 5, 'year': 2013}, 'count': 1808},
 {'_id': {'month': 6, 'year': 2013}, 'count': 1675},
 {'_id': {'month': 7, 'year': 2013}, 'count': 1886},
 {'_id': {'month': 8, 'year': 2013}, 'count': 1537},
 {'_id': {'month': 9, 'year': 2013}, 'count': 1617},
 {'_id': {'month': 10, 'year': 2013}, 'count': 1618},
 {'_id': {'month': 11, 'year': 2013}, 'count': 1552},
 {'_id': {'month': 12, 'year': 2013}, 'count': 1565},
 {'_id': {'month': 1, 'year': 2014}, 'count': 1791},
 {'_id': {'month': 2, 'year': 2014}, 'count': 1538},
 {'_id': {'month': 3, 'year': 2014}, 'count': 1586},
 {'_id': {'month': 4, 'year': 2014}, 'count': 1739},
 {'_id': {'month': 5, 'year': 2014}, 'count': 1908},
 {'_id': {'month': 6, 'year': 2014}, 'count': 1887},
 {'_id': {'month': 7, 'year': 2014}, 'count': 2008},
 {'_id': {'month': 8, 'year': 2014}, 'count': 1642},
 {'_id': {'month': 9, 'year': 2014}, 'count': 1637},
 {'_id': {'month': 10, 'year': 2014}, 'count': 1921},
 {'_id': {'month': 11, 'year': 2014}, 'count': 1628},
 {'_id': {'month': 12, 'year': 2014}, 'count': 1914},
 {'_id': {'month': 1, 'year': 2015}, 'count': 1830},
 {'_id': {'month': 2, 'year': 2015}, 'count': 1732},
 {'_id': {'month': 3, 'year': 2015}, 'count': 1891},
 {'_id': {'month': 4, 'year': 2015}, 'count': 2111},
 {'_id': {'month': 5, 'year': 2015}, 'count': 1959},
 {'_id': {'month': 6, 'year': 2015}, 'count': 1989},
 {'_id': {'month': 7, 'year': 2015}, 'count': 2273},
 {'_id': {'month': 8, 'year': 2015}, 'count': 1729},
 {'_id': {'month': 9, 'year': 2015}, 'count': 2065},
 {'_id': {'month': 10, 'year': 2015}, 'count': 1965},
 {'_id': {'month': 11, 'year': 2015}, 'count': 1834},
 {'_id': {'month': 12, 'year': 2015}, 'count': 1951},
 {'_id': {'month': 1, 'year': 2016}, 'count': 1944},
 {'_id': {'month': 2, 'year': 2016}, 'count': 1706},
 {'_id': {'month': 3, 'year': 2016}, 'count': 1969},
 {'_id': {'month': 4, 'year': 2016}, 'count': 1951},
 {'_id': {'month': 5, 'year': 2016}, 'count': 2047}]

## B- How many orders are there from the customer Tailspin Toys (Head Office)?

In [15]:
query_1 = {
    '$match': {'CustomerName' : "Tailspin Toys (Head Office)"}
}

query_2 = {
    "$lookup":
    {
       "from": "orders",
       "localField": "CustomerID",
       "foreignField": "CustomerID",
       "as": "order"
     }
}

query_3 = {
    "$project":{
        "_id": 0,
        'Name': '$CustomerName',
        "No_Orders": {'$size':"$order"}
    }
}


pipeline = [query_1, query_2, query_3]

r = db.customers.aggregate(pipeline)

result = list(r)

result

[{'Name': 'Tailspin Toys (Head Office)', 'No_Orders': 129}]

## C- What are the average monthly sales prices of all goods sold?

In [16]:
collection = db.order_orderline_embed

query_1 = {
    '$project':{
        'sales_prices':{'$multiply':['$Quantity','$UnitPrice']},
        'OrderDate':'$orders_list.OrderDate'      
    }
}

query_2 = {
    '$unwind' : '$OrderDate'
    }

query_3 = {
    '$project':{
        'sales_prices':1,
        'month' : { '$month' : "$OrderDate"}, 
        'year' : { '$year' :  "$OrderDate"},     
    }
}

query_4 = {
    '$group':{'_id' : {'month' : "$month", 'year' :'$year' },
            'sales_prices': { '$avg': '$sales_prices'} 
        
    }
}
query_5 = {
    '$project':{
        '_id':0,
        'year':'$_id.year',
        'month':'$_id.month',
        'sales_prices':1      
    }
}

query_6 = {'$sort': {'year':1,'month':1}}

pipeline = [query_1,query_2,query_3,query_4,query_5,query_6]

r = collection.aggregate(pipeline)

result = list(r)

result

[{'sales_prices': Decimal128('724.2648835447831850028403711418292'),
  'year': 2013,
  'month': 1},
 {'sales_prices': Decimal128('757.1879227053140096618357487922705'),
  'year': 2013,
  'month': 2},
 {'sales_prices': Decimal128('735.9580812766747077379847838188903'),
  'year': 2013,
  'month': 3},
 {'sales_prices': Decimal128('782.0304949190816710575837410613474'),
  'year': 2013,
  'month': 4},
 {'sales_prices': Decimal128('800.6370152658361115985260572030181'),
  'year': 2013,
  'month': 5},
 {'sales_prices': Decimal128('777.4632071937055076807793180966654'),
  'year': 2013,
  'month': 6},
 {'sales_prices': Decimal128('763.6943436227951153324287652645862'),
  'year': 2013,
  'month': 7},
 {'sales_prices': Decimal128('747.2962440340319568375181572940444'),
  'year': 2013,
  'month': 8},
 {'sales_prices': Decimal128('767.9943616395371641498333006471857'),
  'year': 2013,
  'month': 9},
 {'sales_prices': Decimal128('750.3137594275768710114097853413266'),
  'year': 2013,
  'month': 10},
 {'sales_prices': Decimal128('770.5888844058906596731894290901755'),
  'year': 2013,
  'month': 11},
 {'sales_prices': Decimal128('750.7256141763995167136528393072896'),
  'year': 2013,
  'month': 12},
 {'sales_prices': Decimal128('739.6302006335797254487856388595565'),
  'year': 2014,
  'month': 1},
 {'sales_prices': Decimal128('739.6986335403726708074534161490683'),
  'year': 2014,
  'month': 2},
 {'sales_prices': Decimal128('772.8131203595154357170769831965612'),
  'year': 2014,
  'month': 3},
 {'sales_prices': Decimal128('764.1676491928169780518773807364411'),
  'year': 2014,
  'month': 4},
 {'sales_prices': Decimal128('788.6550688568110170897627343620375'),
  'year': 2014,
  'month': 5},
 {'sales_prices': Decimal128('751.9656589673913043478260869565217'),
  'year': 2014,
  'month': 6},
 {'sales_prices': Decimal128('779.6817511885895404120443740095087'),
  'year': 2014,
  'month': 7},
 {'sales_prices': Decimal128('818.1788304093567251461988304093567'),
  'year': 2014,
  'month': 8},
 {'sales_prices': Decimal128('776.6030584326753957396912253273402'),
  'year': 2014,
  'month': 9},
 {'sales_prices': Decimal128('758.0185041961494158301793648181669'),
  'year': 2014,
  'month': 10},
 {'sales_prices': Decimal128('807.0802853814793244030285381479324'),
  'year': 2014,
  'month': 11},
 {'sales_prices': Decimal128('751.0554834415044100515892827425528'),
  'year': 2014,
  'month': 12},
 {'sales_prices': Decimal128('794.4316041848299912816041848299913'),
  'year': 2015,
  'month': 1},
 {'sales_prices': Decimal128('786.3854052573932092004381161007667'),
  'year': 2015,
  'month': 2},
 {'sales_prices': Decimal128('781.0059441735328737178409281990920'),
  'year': 2015,
  'month': 3},
 {'sales_prices': Decimal128('786.4169326908598102695377202228580'),
  'year': 2015,
  'month': 4},
 {'sales_prices': Decimal128('759.7293871866295264623955431754875'),
  'year': 2015,
  'month': 5},
 {'sales_prices': Decimal128('757.8035898676992578251048725395289'),
  'year': 2015,
  'month': 6},
 {'sales_prices': Decimal128('755.6201528446079818850834984432494'),
  'year': 2015,
  'month': 7},
 {'sales_prices': Decimal128('752.2688227684346701164294954721863'),
  'year': 2015,
  'month': 8},
 {'sales_prices': Decimal128('757.4932259073842302878598247809762'),
  'year': 2015,
  'month': 9},
 {'sales_prices': Decimal128('745.8078365384615384615384615384615'),
  'year': 2015,
  'month': 10},
 {'sales_prices': Decimal128('741.4954187795069068018884420353209'),
  'year': 2015,
  'month': 11},
 {'sales_prices': Decimal128('758.6336489379219496130413304791701'),
  'year': 2015,
  'month': 12},
 {'sales_prices': Decimal128('766.5182732258600631543958783446900'),
  'year': 2016,
  'month': 1},
 {'sales_prices': Decimal128('781.2998570611778158947970268724986'),
  'year': 2016,
  'month': 2},
 {'sales_prices': Decimal128('780.5018184770254911511609027439519'),
  'year': 2016,
  'month': 3},
 {'sales_prices': Decimal128('786.9575888409166389903686482896048'),
  'year': 2016,
  'month': 4},
 {'sales_prices': Decimal128('795.7259795570698466780238500851789'),
  'year': 2016,
  'month': 5}]

## D- In each state province what is the average customer credit limit?

In [17]:
query_1 = {
    '$project':{
        '_id':0,
        'CreditLimit':1,
        'StateProvinceName':'$city_list.StateProvince_list.StateProvinceName'
    }
}

query_2 = {
    
    '$group': {
            '_id' : '$StateProvinceName',
            'CreditLimit_avg': { '$avg': '$CreditLimit' } }}

query_3 = {'$limit': 1}

pipeline = [query_1,query_2 ]


r = db.customers_city_state_embed.aggregate(pipeline)

result = list(r)

result

[{'_id': [['North Carolina']],
  'CreditLimit_avg': Decimal128('2661.363636363636363636363636363636')},
 {'_id': [['New York']],
  'CreditLimit_avg': Decimal128('2758.928571428571428571428571428571')},
 {'_id': [['Kansas']], 'CreditLimit_avg': Decimal128('2900.00')},
 {'_id': [['Iowa']],
  'CreditLimit_avg': Decimal128('2481.666666666666666666666666666667')},
 {'_id': [['Alabama']], 'CreditLimit_avg': Decimal128('1985.00')},
 {'_id': [['Illinois']], 'CreditLimit_avg': Decimal128('2336.00')},
 {'_id': [['Vermont']], 'CreditLimit_avg': Decimal128('2000.00')},
 {'_id': [['Idaho']], 'CreditLimit_avg': Decimal128('2700.00')},
 {'_id': [['Arizona']], 'CreditLimit_avg': Decimal128('2950.00')},
 {'_id': [['Georgia']], 'CreditLimit_avg': Decimal128('2631.75')},
 {'_id': [['Nevada']], 'CreditLimit_avg': Decimal128('3600.00')},
 {'_id': [['Minnesota']], 'CreditLimit_avg': Decimal128('2513.125')},
 {'_id': [['Maryland']], 'CreditLimit_avg': Decimal128('1750.00')},
 {'_id': [['New Hampshire']], 'CreditLimit_avg': Decimal128('2800.00')},
 {'_id': [['Ohio']],
  'CreditLimit_avg': Decimal128('2942.857142857142857142857142857143')},
 {'_id': [['Oregon']], 'CreditLimit_avg': Decimal128('3530.00')},
 {'_id': [['Tennessee']], 'CreditLimit_avg': Decimal128('3465.00')},
 {'_id': [['Colorado']],
  'CreditLimit_avg': Decimal128('2033.333333333333333333333333333333')},
 {'_id': [['Maine']], 'CreditLimit_avg': Decimal128('2400.00')},
 {'_id': [['Hawaii']], 'CreditLimit_avg': None},
 {'_id': [['Nebraska']], 'CreditLimit_avg': Decimal128('2595.00')},
 {'_id': [['Mississippi']], 'CreditLimit_avg': Decimal128('2400.00')},
 {'_id': [['New Jersey']],
  'CreditLimit_avg': Decimal128('2641.428571428571428571428571428571')},
 {'_id': [['Alaska']],
  'CreditLimit_avg': Decimal128('2858.333333333333333333333333333333')},
 {'_id': [['Texas']], 'CreditLimit_avg': Decimal128('2312.50')},
 {'_id': [['Massachusetts[E]']], 'CreditLimit_avg': Decimal128('2507.50')},
 {'_id': [['Missouri']],
  'CreditLimit_avg': Decimal128('2613.333333333333333333333333333333')},
 {'_id': [['Connecticut']], 'CreditLimit_avg': Decimal128('3500.00')},
 {'_id': [['Oklahoma']], 'CreditLimit_avg': Decimal128('2806.00')},
 {'_id': [['Louisiana']],
  'CreditLimit_avg': Decimal128('2372.041666666666666666666666666667')},
 {'_id': [['Indiana']], 'CreditLimit_avg': Decimal128('3098.75')},
 {'_id': [['Arkansas']],
  'CreditLimit_avg': Decimal128('3044.166666666666666666666666666667')},
 {'_id': [['West Virginia']],
  'CreditLimit_avg': Decimal128('2567.857142857142857142857142857143')},
 {'_id': [['Kentucky']], 'CreditLimit_avg': Decimal128('2374.00')},
 {'_id': [['Pennsylvania']],
  'CreditLimit_avg': Decimal128('2255.833333333333333333333333333333')},
 {'_id': [['Florida']], 'CreditLimit_avg': Decimal128('2800.00')},
 {'_id': [['California']],
  'CreditLimit_avg': Decimal128('2787.307692307692307692307692307692')},
 {'_id': [['Virginia']], 'CreditLimit_avg': Decimal128('2915.00')},
 {'_id': [['New Mexico']], 'CreditLimit_avg': Decimal128('2741.00')},
 {'_id': [['South Carolina']],
  'CreditLimit_avg': Decimal128('2479.166666666666666666666666666667')},
 {'_id': [['Utah']], 'CreditLimit_avg': Decimal128('3200.00')},
 {'_id': [['Wyoming']], 'CreditLimit_avg': Decimal128('3365.00')},
 {'_id': [['South Dakota']], 'CreditLimit_avg': Decimal128('2747.50')},
 {'_id': [['Michigan']],
  'CreditLimit_avg': Decimal128('2773.333333333333333333333333333333')},
 {'_id': [['Puerto Rico (US Territory)']],
  'CreditLimit_avg': Decimal128('2766.666666666666666666666666666667')},
 {'_id': [['Wisconsin']],
  'CreditLimit_avg': Decimal128('2133.333333333333333333333333333333')},
 {'_id': [['Washington']], 'CreditLimit_avg': Decimal128('2520.00')},
 {'_id': [['Montana']],
  'CreditLimit_avg': Decimal128('1666.666666666666666666666666666667')},
 {'_id': [['North Dakota']], 'CreditLimit_avg': Decimal128('2500.00')}]

## E- What are the yearly expenditures with each supplier (per supplier name)?

In [18]:
query_1 = {
    '$project':{
        'TransactionAmount':1,
        'year' : { '$year' :  "$TransactionDate"},
        'SupplierName':'$suppliers_list.SupplierName'        
    }
}

query_2 = {
    
    '$group': {
            '_id' : {'SupplierName' : "$SupplierName", 'year' :'$year' },
            'yearly_expenditures': { '$sum': '$TransactionAmount'} }}

query_3 = {
    '$project':{
        '_id':0,
        'SupplierName':'$_id.SupplierName',
        'year' : '$_id.year',
        'yearly_expenditures':1       
    }
}

query_4 = {'$sort': {'year':1,'SupplierName':1,}}


pipeline = [query_1,query_2,query_3,query_4]

r = db.suppliertransactions_suppliers_embed.aggregate(pipeline)

result = list(r)

result

[{'yearly_expenditures': Decimal128('0.00'),
  'SupplierName': ['Contoso, Ltd.'],
  'year': 2013},
 {'yearly_expenditures': Decimal128('485380.50'),
  'SupplierName': ['Fabrikam, Inc.'],
  'year': 2013},
 {'yearly_expenditures': Decimal128('0.00'),
  'SupplierName': ['Graphic Design Institute'],
  'year': 2013},
 {'yearly_expenditures': Decimal128('119343.32'),
  'SupplierName': ['Litware, Inc.'],
  'year': 2013},
 {'yearly_expenditures': Decimal128('0.00'),
  'SupplierName': ['Northwind Electric Cars'],
  'year': 2013},
 {'yearly_expenditures': Decimal128('0.00'),
  'SupplierName': ['The Phone Company'],
  'year': 2013},
 {'yearly_expenditures': Decimal128('1510955.10'),
  'SupplierName': ['Fabrikam, Inc.'],
  'year': 2014},
 {'yearly_expenditures': Decimal128('686937.21'),
  'SupplierName': ['Litware, Inc.'],
  'year': 2014},
 {'yearly_expenditures': Decimal128('2837528.40'),
  'SupplierName': ['Fabrikam, Inc.'],
  'year': 2015},
 {'yearly_expenditures': Decimal128('1353734.69'),
  'SupplierName': ['Litware, Inc.'],
  'year': 2015},
 {'yearly_expenditures': Decimal128('0.00'),
  'SupplierName': ['A Datum Corporation'],
  'year': 2016},
 {'yearly_expenditures': Decimal128('-2961969.90'),
  'SupplierName': ['Fabrikam, Inc.'],
  'year': 2016},
 {'yearly_expenditures': Decimal128('-1310231.11'),
  'SupplierName': ['Litware, Inc.'],
  'year': 2016}]

# 4. Partnerships needs to know:

## A- What is the most common payment type?

In [19]:
query_1 = {
    '$project':{
        '_id':1,
        'SupplierTransactionID':1,
        'PaymentMethodName':'$paymentmethods_list.PaymentMethodName'
    }
}

query_2 = {
    
    '$group': {
            '_id' : '$PaymentMethodName',
            'Number_of_Method': { '$sum':1 } }}


pipeline = [query_1,query_2 ]


r = db.suppliertransactions_paymentmethods_embed.aggregate(pipeline)

result = list(r)

result

[{'_id': ['EFT'], 'Number_of_Method': 2438}]

## B- What percentage of people have their Title as Team Member?

In [20]:
result = len(list(db.people.find({'CustomFields' : { '$regex':'"Team Member"' }})))/len(list(db.people.find()))
print ("{0:.2%}".format(result))

1.17%

## C- Which supplier of the category Novelty Goods Supplier has the most transactions?

In [21]:
query_1 = {
    '$match': {'suppliers_list.suppliercategories_list.SupplierCategoryName' :{'$eq' : 'Novelty Goods Supplier'}}
}

query_2 = {
    '$project':{
        '_id':0,
        'TransactionAmount':1,
        'SupplierName':'$suppliers_list.SupplierName'
    }
}

query_3 = {
    '$group': {
        '_id' : '$SupplierName',
        'count': { '$sum': 1 } 
    }
}

query_4 = {'$sort': {'count':-1}}

query_5 = {'$limit':1}

pipeline = [query_1,query_2,query_3,query_4,query_5]


r = db.suppliertransactions_suppliers_suppliercategories_embed.aggregate(pipeline)

result = list(r)

result

[{'_id': ['Graphic Design Institute'], 'count': 16}]

## D- What is the highest CommissionRate that a person has?

In [22]:
query_1 = {
    '$match': {'CustomFields' :{ '$regex':'"CommissionRate"' }}
}

query_2 = {
    '$project':{
        '_id':0,
        'CustomFields':1,
        "CommissionRate": { 
            '$substrCP': [
                "$CustomFields",{ '$subtract': [ { '$strLenCP': "$CustomFields" }, 6] },4]
        }
    }
}

query_3 = {
    '$project':{
        'CustomFields':0}}

query_4 = {'$sort': {'CommissionRate':-1}}

query_5 = {'$limit':1}


pipeline = [query_1,query_2,query_3,query_4,query_5]


r = db.people.aggregate(pipeline)

result = list(r)

result

[{'CommissionRate': '4.55'}]

# 5. The marketing team needs to know:

## A- What is the name of the sales person with the largest sum of invoice values in 2013 (person whose customers paid the most money)?

In [23]:
collection = db.invoicelines_invoices_people_embed


query_1 = {
    '$project':{
        'FullName':'$invoice_list.people_list.FullName',
        'invoice_values':{'$multiply':['$Quantity','$UnitPrice']},
        'InvoiceDate':'$invoice_list.InvoiceDate',
    }
}

query_2 = {
    '$unwind' : '$FullName'
}

query_3 = {
    '$unwind' : '$FullName'
}

query_4 = {
    '$unwind' : '$InvoiceDate'
}

query_5= {
    '$project':{
        'invoice_values':1,
        'FullName':1,
        'year' : { '$year' :  "$InvoiceDate"}  
    }
}

query_6 = {
    '$match' : {
        'year': 2013
    }    
}

query_7 = {
    '$group':{'_id' : '$FullName',
              'invoice_values': { '$sum': '$invoice_values'} 
        
    }
}

query_8 = {'$sort': {'invoice_values':-1}}

query_9 = {'$limit':1}

pipeline = [query_1,query_2,query_3,query_4,query_5,query_6,query_7,query_8,query_9]

r = collection.aggregate(pipeline)

result = list(r)

result

[{'_id': 'Hudson Onslow', 'invoice_values': Decimal128('4864279.75')}]

## B- Who are the most common PickedByPersonID person names for orders done by customer Adriana Pena?

In [24]:
query_1 = {
    '$match' : {
        'CustomerInfo.CustomerName' : {'$eq' : 'Adriana Pena'},
        'PersonInfo.FullName' : {'$exists': True, '$ne': []} # This is 'PickedByPersonID' = nan
    }
}

query_2 = { 
    '$project' : {
        '_id' : False,
        'CustomerID' : 1,
        'PersonInfo.FullName' : 1
    }
}


query_3 = {
    '$group': {
        '_id': {'FullName' : '$PersonInfo.FullName'}, 
        'count' : {'$sum': 1}           
    }
}


query_4 = {
    '$sort': {
        'count': -1
    }
}


query_5 = {
    '$limit': 3
}


query_6 = { 
    '$project' : {
        '_id' : False,
        'FullName' : '$_id.FullName',
        'Count' : '$count'
    }
}

pipeline = [query_1,query_2,query_3,query_4,query_5,query_6]


r = db.orders_people_customers_embed.aggregate(pipeline)

result = list(r)

result

[{'FullName': ['Piper Koch'], 'Count': 3},
 {'FullName': ['Anthony Grosse'], 'Count': 3},
 {'FullName': ['Katie Darwin'], 'Count': 3}]

## C- How many people have in their name the string Sara?

In [25]:
len(list(db.people.find({"FullName": {'$regex': 'Sara'} },{"FullName":1,"_id":1})))

5

## D- What are the top 10 most Common Names (Primary or Surnames) of people?

In [26]:
query_1 = {
    '$project': {
        '_id' : False,
        'name' : { '$split': ["$FullName" , " "]}}
}

query_2 = {
    '$unwind' : "$name"
}

query_3 = {
    "$match": {
        "name": {"$regex": ".+"}
    }
}

query_4 = {
    '$group': {
        '_id': {'name' : '$name'},
        'count' : {'$sum' : 1}
    }
}

query_5 = {
    '$sort' : { 'count' : -1 }
}

query_6 = {
    '$limit': 10
}

query_7 = {
    '$project': {
        '_id' : False,
        'name' : '$_id.name',
        'count': 1}
}

pipeline = [query_1,query_2,query_3,query_4,query_5,query_6,query_7]

r = db.people.aggregate(pipeline)

result = list(r)

result

[{'count': 8, 'name': 'Bose'},
 {'count': 7, 'name': 'Ganguly'},
 {'count': 6, 'name': 'Thakur'},
 {'count': 6, 'name': 'Roman'},
 {'count': 5, 'name': 'David'},
 {'count': 5, 'name': 'Dhanishta'},
 {'count': 5, 'name': 'De'},
 {'count': 5, 'name': 'PrabhupÃ„\x81da'},
 {'count': 5, 'name': 'Mukherjee'},
 {'count': 5, 'name': 'Van'}]